/**
 * Admin CSS for Embedded Facts & figures
*/

/* Adjust form display of infographic fieldset */

.infographic-fields-inline .fieldset-wrapper {
  display: grid;
  grid-template-columns: 12em minmax(auto, 20em) minmax(auto, 40%);
  grid-gap: 1rem
}

.infographic-fields-inline .fieldset-wrapper .fieldset-description {
  grid-column: 1 / span 3;
}
